/*diseño ejercicio 1*/
#ex1{
margin:0;
padding:0;
display: block;
}

#caja1, #caja3{
	margin-top: -16px;
	background-color: yellow;
	height: 100px;
}

#caja2{
	margin-top: -16px;
	background-color:#EE0A56;
	height: 100px;
}

/*diseño ejercicio 2*/

#ex2{
	display: block;
	width: 500px;
}

#caja4, #caja6{
	background-color: yellow;
	margin:10px;
	height: 100px;
}

#caja5{
	background-color:#EE0A56;
	margin:10px;
	height: 100px;
}

/*diseño ejercicio 3*/

#caja7, #caja9{
	background-color: yellow;
	margin:10px;
	width: 150px;
	display: inline-block;
}

#caja8{
	background-color:#EE0A56;
	margin:10px;
	width: 50px;
	display: inline-block;
}

/*diseño ejercicio 4*/

#caja10, #caja12{
	background-color: yellow;
	margin:5px;
	width: 200px;
	display: inline-block;
}

#caja11{
	background-color:#EE0A56;
	margin:5px;
	width: 150px;
	display: inline-block;
}

/*diseño ejercicio 5*/

.rect{
	width: 400px;
	height: 120px;
	margin:10px;
}

#box1{
	background-color: #4CDBEF;
	display: block;
	width: 100px;
	height: 100px;
	margin:10px;
}

#box2{
	background-color:#2ED7A1;
	display: block;

}

#box3{
	background-color:#8561D4;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin:10px;
}

#box4{
	background-color:#AC25BF;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin:10px;
}

#box5{
	background-color:#EF3A76;
	display: block;
	width: 100px;
	height: 100px;
	margin:10px;
}

#box21{
	background-color:#DAF7A6;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin:10px;
}

#box22{
	background-color:#2ED761;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin:10px;
}

#box23{
	background-color:#88D72E;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin:10px;
}