/*diseño ejercicio 1*/
#ex1{
margin:0;
padding:0;
display: block;
}

div{
	height: 100px;
}

#caja1, #caja3{
	margin-top: -16px;
	background-color: yellow;
}

#caja2{
	margin-top: -16px;
	background-color:#EE0A56;
}

/*diseño ejercicio 2*/

#ex2{
	display: block;
	width: 500px;
}

#caja4, #caja6{
	background-color: yellow;
}

#caja5{
	background-color:#EE0A56;
}

/*diseño ejercicio 2*/
